@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white font-Montserrat text-base text-primary-light;
  }
  section,
  footer {
    @apply py-[4.6875rem] 2xl:py-[6.25rem];
  }
  section,
  header,
  footer {
    @apply mx-auto max-w-[1920px];
  }
  h1 {
    @apply font-clash-display text-5xl 2xl:text-6xl font-medium text-primary-dark;
  }
  h2 {
    @apply font-clash-display text-5xl font-medium text-primary-dark;
  }
  h3 {
    @apply font-clash-display text-3xl font-medium text-primary-dark;
  }
  h4 {
    @apply font-clash-display text-2xl font-medium text-primary-dark;
  }
  h6 {
    @apply text-lg text-primary-dark;
  }
  /* Clash Display Font Face Declarations */

  /* Clash Display - Regular (400) */
  @font-face {
    font-family: "Clash Display";
    src: url("../../assets/fonts/clashDisplay/ClashDisplay-Regular.eot");
    src:
      url("../../assets/fonts/clashDisplay/ClashDisplay-Regular.eot?#iefix")
        format("embedded-opentype"),
      url("../../assets/fonts/clashDisplay/ClashDisplay-Regular.woff2")
        format("woff2"),
      url("../../assets/fonts/clashDisplay/ClashDisplay-Regular.woff")
        format("woff"),
      url("../../assets/fonts/clashDisplay/ClashDisplay-Regular.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  /* Clash Display - Medium (500) */
  @font-face {
    font-family: "Clash Display";
    src: url("../../assets/fonts/clashDisplay/ClashDisplay-Medium.eot");
    src:
      url("../../assets/fonts/clashDisplay/ClashDisplay-Medium.eot?#iefix")
        format("embedded-opentype"),
      url("../../assets/fonts/clashDisplay/ClashDisplay-Medium.woff2")
        format("woff2"),
      url("../../assets/fonts/clashDisplay/ClashDisplay-Medium.woff")
        format("woff"),
      url("../../assets/fonts/clashDisplay/ClashDisplay-Medium.ttf")
        format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  /* Clash Display - Semibold (600) */
  @font-face {
    font-family: "Clash Display";
    src: url("../../assets/fonts/clashDisplay/ClashDisplay-Semibold.eot");
    src:
      url("../../assets/fonts/clashDisplay/ClashDisplay-Semibold.eot?#iefix")
        format("embedded-opentype"),
      url("../../assets/fonts/clashDisplay/ClashDisplay-Semibold.woff2")
        format("woff2"),
      url("../../assets/fonts/clashDisplay/ClashDisplay-Semibold.woff")
        format("woff"),
      url("../../assets/fonts/clashDisplay/ClashDisplay-Semibold.ttf")
        format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  /* Clash Display - Bold (700) */
  @font-face {
    font-family: "Clash Display";
    src: url("../../assets/fonts/clashDisplay/ClashDisplay-Bold.eot");
    src:
      url("../../assets/fonts/clashDisplay/ClashDisplay-Bold.eot?#iefix")
        format("embedded-opentype"),
      url("../../assets/fonts/clashDisplay/ClashDisplay-Bold.woff2")
        format("woff2"),
      url("../../assets/fonts/clashDisplay/ClashDisplay-Bold.woff")
        format("woff"),
      url("../../assets/fonts/clashDisplay/ClashDisplay-Bold.ttf")
        format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  /* Montserrat Font Face Declarations */

  /* Regular (400) */
  @font-face {
    font-family: "Montserrat";
    src: url("../../assets/fonts/montserrat/Montserrat-Regular.ttf")
      format("truetype");
    font-weight: normal; /* or 400 */
    font-style: normal;
  }

  /* Medium (500) */
  @font-face {
    font-family: "Montserrat";
    src: url("../../assets/fonts/montserrat/Montserrat-Medium.ttf")
      format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  /* Semi Bold (600) */
  @font-face {
    font-family: "Montserrat";
    src: url("../../assets/fonts/montserrat/Montserrat-SemiBold.ttf")
      format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  /* Bold (700) */
  @font-face {
    font-family: "Montserrat";
    src: url("../../assets/fonts/montserrat/Montserrat-Bold.ttf")
      format("truetype");
    font-weight: 700;
    font-style: normal;
  }
}
