@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white font-Montserrat text-base text-primary-light;
  }
  section,
  footer {
    @apply py-8 sm:py-12 md:py-16 2xl:py-[6.25rem];
  }
  section,
  header,
  footer {
    @apply mx-auto max-w-[1920px];
  }
  h1 {
    @apply font-clash-display text-5xl font-medium text-primary-dark md:text-6xl;
  }
  h2 {
    @apply font-clash-display text-3xl font-medium text-primary-dark sm:text-4xl md:text-5xl;
  }
  h3 {
    @apply font-clash-display text-2xl font-medium text-primary-dark md:text-3xl;
  }
  h4 {
    @apply font-clash-display text-base font-medium text-primary-dark sm:text-xl md:text-2xl;
  }
  h6 {
    @apply text-lg text-primary-dark;
  }

  /* Clash Display Font Face Declarations */

  /* Clash Display - Regular (400) */
  @font-face {
    font-family: "Clash Display";
    src: url("../../assets/fonts/clashDisplay/ClashDisplay-Regular.eot");
    src:
      url("../../assets/fonts/clashDisplay/ClashDisplay-Regular.eot?#iefix")
        format("embedded-opentype"),
      url("../../assets/fonts/clashDisplay/ClashDisplay-Regular.woff2")
        format("woff2"),
      url("../../assets/fonts/clashDisplay/ClashDisplay-Regular.woff")
        format("woff"),
      url("../../assets/fonts/clashDisplay/ClashDisplay-Regular.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  /* Clash Display - Medium (500) */
  @font-face {
    font-family: "Clash Display";
    src: url("../../assets/fonts/clashDisplay/ClashDisplay-Medium.eot");
    src:
      url("../../assets/fonts/clashDisplay/ClashDisplay-Medium.eot?#iefix")
        format("embedded-opentype"),
      url("../../assets/fonts/clashDisplay/ClashDisplay-Medium.woff2")
        format("woff2"),
      url("../../assets/fonts/clashDisplay/ClashDisplay-Medium.woff")
        format("woff"),
      url("../../assets/fonts/clashDisplay/ClashDisplay-Medium.ttf")
        format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  /* Clash Display - Semibold (600) */
  @font-face {
    font-family: "Clash Display";
    src: url("../../assets/fonts/clashDisplay/ClashDisplay-Semibold.eot");
    src:
      url("../../assets/fonts/clashDisplay/ClashDisplay-Semibold.eot?#iefix")
        format("embedded-opentype"),
      url("../../assets/fonts/clashDisplay/ClashDisplay-Semibold.woff2")
        format("woff2"),
      url("../../assets/fonts/clashDisplay/ClashDisplay-Semibold.woff")
        format("woff"),
      url("../../assets/fonts/clashDisplay/ClashDisplay-Semibold.ttf")
        format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  /* Clash Display - Bold (700) */
  @font-face {
    font-family: "Clash Display";
    src: url("../../assets/fonts/clashDisplay/ClashDisplay-Bold.eot");
    src:
      url("../../assets/fonts/clashDisplay/ClashDisplay-Bold.eot?#iefix")
        format("embedded-opentype"),
      url("../../assets/fonts/clashDisplay/ClashDisplay-Bold.woff2")
        format("woff2"),
      url("../../assets/fonts/clashDisplay/ClashDisplay-Bold.woff")
        format("woff"),
      url("../../assets/fonts/clashDisplay/ClashDisplay-Bold.ttf")
        format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  /* Montserrat Font Face Declarations */

  /* Regular (400) */
  @font-face {
    font-family: "Montserrat";
    src: url("../../assets/fonts/montserrat/Montserrat-Regular.ttf")
      format("truetype");
    font-weight: normal; /* or 400 */
    font-style: normal;
  }

  /* Medium (500) */
  @font-face {
    font-family: "Montserrat";
    src: url("../../assets/fonts/montserrat/Montserrat-Medium.ttf")
      format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  /* Semi Bold (600) */
  @font-face {
    font-family: "Montserrat";
    src: url("../../assets/fonts/montserrat/Montserrat-SemiBold.ttf")
      format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  /* Bold (700) */
  @font-face {
    font-family: "Montserrat";
    src: url("../../assets/fonts/montserrat/Montserrat-Bold.ttf")
      format("truetype");
    font-weight: 700;
    font-style: normal;
  }
}
@layer utilities {
  .c-filter-white {
    @apply brightness-[104%] contrast-[106%] hue-rotate-[122deg] invert-[96%] saturate-[17%] sepia-[4%];
  }
  .c-filter-secondary {
    filter: brightness(0) saturate(100%) invert(8%) sepia(97%) saturate(6896%)
      hue-rotate(334deg) brightness(99%) contrast(108%);
  }
  .swiper-pagination-bullet {
    @apply h-4 w-4 bg-white;
  }
  /* .swiper-pagination-bullets.swiper-pagination-horizontal {
    @apply bottom-10;
  } */
  @media (min-width: 1536px) and (max-width: 1678px) {
    header .c-search {
      @apply w-48;
    }
    .c-event-banner-section {
      @apply !col-span-9;
    }
  }
}
