@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white font-Montserrat text-base text-primary-light;
  }
  section,
  footer {
    @apply py-[6.25rem];
  }
  section,
  header,
  footer {
    @apply mx-auto max-w-[1920px];
  }
  h1 {
    @apply font-clash-display text-6xl font-medium text-primary-dark;
  }
  h2 {
    @apply font-clash-display text-5xl font-medium text-primary-dark;
  }
  h3 {
    @apply font-clash-display text-3xl font-medium text-primary-dark;
  }
  h4 {
    @apply font-clash-display text-2xl font-medium text-primary-dark;
  }
  h6 {
    @apply text-lg text-primary-dark;
  }

  /* Clash Display - Regular */
  @font-face {
    font-family: "Clash Display";
    src: url("/assets/fonts/ClashDisplay-Regular.eot");
    src:
      url("/assets/fonts/ClashDisplay-Regular.eot?#iefix")
        format("embedded-opentype"),
      url("/assets/fonts/ClashDisplay-Regular.woff2") format("woff2"),
      url("/assets/fonts/ClashDisplay-Regular.woff") format("woff"),
      url("/assets/fonts/ClashDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  /* Clash Display - Medium */
  @font-face {
    font-family: "Clash Display";
    src: url("/assets/fonts/ClashDisplay-Medium.eot");
    src:
      url("/assets/fonts/ClashDisplay-Medium.eot?#iefix")
        format("embedded-opentype"),
      url("/assets/fonts/ClashDisplay-Medium.woff2") format("woff2"),
      url("/assets/fonts/ClashDisplay-Medium.woff") format("woff"),
      url("/assets/fonts/ClashDisplay-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  /* Clash Display - Semibold */
  @font-face {
    font-family: "Clash Display";
    src: url("/assets/fonts/ClashDisplay-Semibold.eot");
    src:
      url("/assets/fonts/ClashDisplay-Semibold.eot?#iefix")
        format("embedded-opentype"),
      url("/assets/fonts/ClashDisplay-Semibold.woff2") format("woff2"),
      url("/assets/fonts/ClashDisplay-Semibold.woff") format("woff"),
      url("/assets/fonts/ClashDisplay-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  /* Clash Display - Bold */
  @font-face {
    font-family: "Clash Display";
    src: url("/assets/fonts/ClashDisplay-Bold.eot");
    src:
      url("/assets/fonts/ClashDisplay-Bold.eot?#iefix")
        format("embedded-opentype"),
      url("/assets/fonts/ClashDisplay-Bold.woff2") format("woff2"),
      url("/assets/fonts/ClashDisplay-Bold.woff") format("woff"),
      url("/assets/fonts/ClashDisplay-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}
